﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
   
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 60px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.checked {
    color: yellow;
}
.unchecked
{
   color:gray;
}
.hidden {
    display: none;
}
.stars {
    font-size: 10px;
    display: block ruby;
}
.center {
    margin: auto;
    width: 40%;
    border: 1px solid #BFBFBF;
    border-radius:10px;
    background-color: white;
    box-shadow: 2px 4px 5px #aaaaaa;
    padding: 10px;
}
.centerRegister {
    margin: auto;
    width: 50%;
    border: 1px solid #BFBFBF;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 4px 5px #aaaaaa;
    padding: 10px;
}
