@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Free Lance System</h1>
    <p class="lead" style="color:green;">Join to world's biggest market place online!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Find the talent
                your way </h2>
        <p>
            Work with the largest network of independent
            professionals and get things done from quick
            turnarounds to big transformations
        </p>

    </div>
    <div class="col-md-4">
        <h2>Hire a pro</h2>
        <p>
            Front-end dev.
            Back-end dev.
            Python dev.
            Data Scientist
            Blockchain Specialist
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>
            Find Great Work
        </h2>
        <p>Meet clients you’re excited to work with and take your career or business to new heights. .</p>
       
    </div>
</div>